body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e8fff62; /* Adjust the color and opacity as needed */
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
    z-index: -1;
}

body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #333;
}


h1, h2, h5 {
    color: #1E90FF; /* Heading color for consistency with background */
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

a.btn {
    color: #fff;
    background-color: #1E90FF;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

a.btn:hover {
    background-color: #4169E1;
}

main {
    justify-content: center;
    padding: 5rem 5rem 5rem 5rem;
}

section{
    background-color: #ffffffaa;
    backdrop-filter: blur(10px);
    padding: 30px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1); /* Softened shadow */
    border-radius: 15px; /* Rounded corners */
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

section:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
}


@media screen(max-width: 768px) {
    main {
        padding: 2rem 1rem;
    }
}
