body {
    background-image: url("/ZooWebsite/
assets/img/standart_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding:0;
    margin:0;

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(30, 143, 255, 0.38);
    backdrop-filter: blur(5px);
    z-index: -1;
}

main{
    margin-top: 15%;
    margin-bottom: 20%;
    
}

.my-card{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    width: 80%;
    margin: 10px auto;
}

.my-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.my-image{
    transition: transform .2s;
}

.my-image:hover{
    transform: scale(1.05);    
}

.my-link{
    text-decoration: none;
    color: black;
    transition: transform .2s;
}

.my-link:hover{
    transform: scale(1.005);
}